/* -------------- resrt ---------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html { font-size: 62.5%; }
body { font-size: 1.6rem; }
li { list-style: none; }
h1,h2,h3,h4,h5,h6,a,img,iframe,p,ul,li {
  margin:0;
  padding:0;
  vertical-align:baseline;
  text-decoration: none;
}

// -------------- MediaQuery ------------------ 
$breakpoints: (
  'sm': 'screen and (max-width: 480px)',
  'ms': 'screen and (max-width: 600px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
/* -------------- common ------------------ */
.fl { display: flex; }
.fl-column { flex-direction: column; }
.fl-end { justify-content: flex-end; }
.fl-bt { justify-content: space-between; }
.fl-wr { flex-wrap: wrap; }
.fl-item-c { align-items: center; }
.fl-ju-ce { justify-content: center; }

.wrapper {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}

.noSidebar {
  overflow-x: hidden;
}
/*-----------------------------------------*/
/*-------------  Header  ------------------*/
/*-----------------------------------------*/
.header {
  li {
    position: fixed;
    z-index: 1000;
    color: #1a1a1a;
    a {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 150%;
        left: -25%;
        bottom: -5px;
        height: 1px;
        background: #555555;
        transform: scale(0,1);
        transition: all 0.3s ease-in-out;
      }
      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }
  .home {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about {
    transform: rotate(90deg) translateY(-50%);
    right: 20px;
    top: 50%;
  }
  .work {
    transform: rotate(-90deg) translateY(-50%);
    left: 20px;
    top: 50%;
  }
}
/*-----------------------------------------*/
/*------------- Home ----------------------*/
/*-----------------------------------------*/
.main-visual {
  position: relative;
}

.main-visual-wrapper {
  position: relative;
  &::before {
    content: '';
    opacity: 0.4;
    display: block;
    width: 100%;
    background: url(../img/IMGP5090.jpg) no-repeat center center/ cover;
    height: 100vh;
  }
  .main-visual-title-block {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    z-index: 15;
    .title-top {
      font-size: 2.6rem;
    }
    h1 {
      font-size: 6.4rem;
    }
  }
}

// About Page
.who-sec {
  height: calc(100vh * 3);
  overflow-x: hidden;
  .wrapper {
    position: relative;
    height: 100%;
  }
  .photo_1 {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY( -50%);
    height: 70%;
    max-width: 690px;
    overflow: hidden;
    &::after {
      content: "";
      top: -80px;
      left: 0;
      width: 150%;
      height: 160%;
      display: block;
      position: absolute;
      background: #ffffff; 
      transform: rotate(-12deg);
      transform-origin: left bottom;
      transition: width 0.6s ease-in;
    }
    &.delighter.started  {
      &::after {
        width: 0;
      }
    }
    img {
      border: 1px solid #ffffff;
      height: 100%;
    } 
  }
}

.a-section1 {
  height: 100vh;
  .section-inner {
    height: 100%;
    opacity: 0;
    background: url(../img/IMGP5090.jpg) no-repeat center center/ cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    span {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 30px;
        background: #000;
        left: 50%;
      }
    }
    &.started {
      opacity: 1;
      transition: all 1.6s ease-out 0.6s;
    }
  }
  &.started {
    padding: 50px;
    transition: all 0.8s ease-out 1.8s;
  }
  .bg-1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #d4f9e5;
    transition: all 0.6s ease-out;
    transition-delay: 1.4s;
    transform: rotate(45deg) scale(0, 1);
    &.left {
      width: 50%;
      opacity: 0.8;
      &.started {
        transform: rotate(45deg) scale(1, 4);
      }
    }
  }
}

.a-section2 {
  height: 100vh;
}

.a-section3 {
  height: 100vh;
  .bg-3 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &::before, &::after{
      display: block;
      position: absolute;
      font-size: 10rem;
      color: #fff;
      opacity: 0.4;
      z-index: 40;
    }
    &::before {
      content: "iOS";
      top: 10%;
      left: 0;
    }
    &::after {
      content: "WEB";
      bottom: 8%;
      right: -2%;
    }
    .bg-3-c {
      height: calc(100% / 5);
      width: 100%;
      opacity: 0.9;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: all 1.4s ease-out;
      position: relative;
      z-index: 20;
    }
    &.delighter.started .bg-3-c{
      transform: scale(1, 1);
      &.bg-3-1 { 
        background: linear-gradient(#ffffff, #dfeccd);
      } 
      &.bg-3-2 { 
        background: linear-gradient(#dfeccd, #d7eeb6);
        transition-delay: 0.4s;
      }
      &.bg-3-3 { 
        background: linear-gradient(#d7eeb6, #ceeea0);
        transition-delay: 0.7s;
      }
      &.bg-3-4 { 
        background: linear-gradient(#ceeea0, #c8ee92);
        transition-delay: 1.0s;
      }
      &.bg-3-5 { 
        background: linear-gradient(#c8ee92, #c4f283); 
        transition-delay: 1.3s;
      }
  }
}
  .a-section3-box {
    position: absolute;
    left: 8%;
    width: calc(100% - 8%);
    top: 50%;
    z-index: 50;
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;
    color: #464646;
    .skill-box {
      width: 50%;
    }
    .skill-t {
      margin-bottom: 10px;
      font-weight: 300;
      &.line-1, &.line-2, &.line-3, &.line-4, &.line-5 {
       transform: translateY(100%);
       opacity: 0;
       transition: all 0.6s ease-out; 
      }
      &.title {
        font-size: 3.6rem;
        margin-bottom: 20px;
        font-weight: 700;
      }
    }
    .skill-disc {
      opacity: 0;
      transform: translateY(30%);
      transition: all 1s ease-out;
      .disc-title {
        font-size: 2.0rem;
        margin: 20px 0 6px;
      }
      p { 
        font-weight: 300;
        margin-bottom: 30px;
      }
    }
  }
  .disc-box {
    width: 40%;
    height: 50vh;
    opacity: 0;
    transform: translateY(20%);
    background: url(../img/about-1.jpg) no-repeat center center/ cover;
    transition: all 1s ease-out;
  }
  .ref-box {
    opacity: 0;
    transform: translateY(20%);
    transition: all 1s ease-out;
    a {
      display: inline-block;
      line-height: 25px;
      padding-left: 30px;
      margin-right: 15px;
    }
    .linkedin {
      background: url(../img/linkedin-icon.png)no-repeat center left/25px 25px;
    }
    .mail {
      background: url(../img/mail-icon.png)no-repeat center left/25px 25px;
    }
    .github {
      background: url(../img/github-icon.png)no-repeat center left/25px 25px;
    }
  }
  &.delighter.started {
    .line-1, .line-2, .line-3, .line-4, .line-5 {
      transform: translateY(0);
      opacity: 1;
     }
    .line-1 { transition-delay: 1.8s; }
    .line-2 { transition-delay: 2.1s; }
    .line-3 { transition-delay: 2.4s; }
    .line-4 { transition-delay: 2.7s; } 
    .line-5 { transition-delay: 3.0s; }
    .disc-box {
      opacity: 1;
      transition-delay: 1.8s;
      transform: translate(0);
    }
    .skill-disc {
      opacity: 1;
      transform: translate(0);
      transition-delay: 3.3s;
    }
    .ref-box {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 3.6s;
    }
  }

  .who-text-block {
    position: fixed;
    top: 50%;
    right: 6%;
    transform: translate(30%, -50%);
    max-width: 400px;
    width: 50%;
    z-index: 40;
    opacity: 0;
    font-family: 'Montserrat', sans-serif;
    h2 {
      font-size: 4rem;
      margin-bottom: 30px;
    }
    p {
      font-weight: 300;
      font-size: 1.6rem;
      line-height: 1.4;
      margin-bottom: 15px;
    }
    &.delighter.started {
      opacity: 1;
      transform: translate(0, -50%);
      transition: all .8s ease-out 0.8s; 
    }
  }
  &.delighter.started .who-text-block {
    animation: hiddenRight 1s forwards;
    opacity: 0;
    transition: all 0.5s ease-out;
  }
}

@keyframes hiddenRight {
  99%{
    transform: translateY(-50%);  
  }
  100% {
    transform: translate(300%, -50%);  
  }
}

// Work Page
.work-content {
  height: 2800px;
  position: relative;
  .work-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
    height: 63vh;
    overflow: hidden;
    a {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 1s ease-in-out;
      &:hover {
        transform: translateY(-50%) scale(1.05);
      }
    }
  }
  .work-item-box {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    .w-title-box {
      position: absolute;
      bottom: 20px;
      left: 30px;
      color: #fff;
      .title {
        font-size: 3.0rem;
      }
      .disc {
        font-size: 2.2rem;
        margin-bottom: 20px;
      }
      .text {
        font-size: 1.6rem;
      }
    }
  }
}
.work-item-wrapper {
  .w-scroll-arrow {
    position: fixed;
    font-size: 1.8rem;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 1px;
      height: 30px;
      background: #000;
      left: 50%; 
    }
  }
}

//work Detail
.work-detail-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  .wd-hero-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 80%;
    height: 63vh;
    opacity: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    animation: workImgFill 1.8s forwards 0.8s;
    img {
      width: 100%;
    }
  }
}
@keyframes workImgFill {
  0% { 
    opacity: 1;
  }
  40%{ 
    max-width: 700px;
    width: 80%;
    height: 63vh; 
  }
  71% {
    max-width: 100%;
  }
  100% {
    opacity: 1;

    max-width: 100%;
    width: 100%;
    height: 100vh;
  }
}

// Work Details
.intro-sec {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 26px;
  font-size: 1.4rem;
  max-width: 800px;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-size: 4.0rem;
    font-weight: 300;
    margin: 40px 0 20px; 
    span {
      display: block;
      font-size: 1.8rem;
      padding-top: 10px;
    }
  }
  h3, h4 {
    font-size: 1.2rem;
    color: #bbbbbb;
    margin: 20px 0 0;
  }
  .fl > div {
    width: 48%;
  }
  .left {
    padding-right: 30px;
  }
  .wd-disc-text {
    border-bottom: 1px solid #bbbbbb;
    & > div {
      margin-bottom: 20px;
    }
    .development {
      li {
        &::after {
          content: "/";
          display: inline-block;
          margin: 0 8px;
        }
        &:last-child::after {
          display: none;
        }
      }
    }
    a:hover {
      color: #579a6f;
    }
    .web-site {
      a {
        display: block;
        .fa-link {
          width: unset;
          color: #3e3e3e;
          padding: 0 0 3px 10px;
        }
      }
    }
  }
}

// transtion animation

.fade-exit {
  opacity: 0;
  z-index: 1;
  .work-box {
    display: none;
  }
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
  &.m-content-box {
    .main-visual-wrapper::before, 
    .main-visual-title-block, 
    .work-item-wrapper, .work-inner {
      animation: homeMoveBg 1.5s forwards;
    }
    .main-visual-wrapper::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0;
      top: 0;
      right: 0;
      display: block;
      animation: topToBottom 1.2s forwards;
      z-index: 5000;
      background-image: linear-gradient(to bottom, #cdfffc, #d0fffc, #d4fffd, #d7fffd, #dafffd, #d8fdfe, #d6fbfe, #d4f9ff, #cff4ff, #ceeeff, #cfe8ff, #d2e1ff);
    }
    .who-sec::after, .work-content::after,
    .work-detail-inner::after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      display: block;
      z-index: 5000;
    }
    .who-sec::after {
      right: 0;
      animation: rightToLeft 1.2s forwards;
      background-image: linear-gradient(to left, #d2e1ff, #cfe8ff, #ceeeff, #cff4ff, #d4f9ff, #d6fbfe, #d8fdfe, #dafffd, #d7fffd, #d4fffd, #d0fffc, #cdfffc);
    }
    .work-content::after {
      left: 0;
      animation: leftToRight 1.2s forwards;
      background-image: linear-gradient(to left, #cdfffc, #d0fffc, #d4fffd, #d7fffd, #dafffd, #d8fdfe, #d6fbfe, #d4f9ff, #cff4ff, #ceeeff, #cfe8ff, #d2e1ff);
    }
    .work-detail-inner::after {
      bottom: 0;
      top: unset;
      height: 0;
      width: 100%;
      animation: bottomToTop 1.2s forwards;
      background-image: linear-gradient(to top, #cdfffc, #d0fffc, #d4fffd, #d7fffd, #dafffd, #d8fdfe, #d6fbfe, #d4f9ff, #cff4ff, #ceeeff, #cfe8ff, #d2e1ff);
    }
    
  }
}

@keyframes topToBottom {
  0% {  
  }
  40% {
    height: 100%;
  }
  60% {
    height: 100%;
    transform: translateY(0);
  }
  100% {
    height: 100%;
    transform: translateY(100%);  
  }
}
@keyframes rightToLeft {
  0% {  
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(-100%);  
  }
}
@keyframes leftToRight {
  0% {  
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 100%;
    transform: translateX(100%);  
  }
}
@keyframes bottomToTop {
  0% {  
  }
  40% {
    height: 100%;
  }
  60% {
    height: 100%;
    transform: translateY(0);
  }
  100% {
    height: 100%;
    transform: translateY(-100%);  
  }
}
@keyframes homeMoveBg {
  0% {  
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.4;
  }
}
